#logo{
    font-family: 'Orelega One', cursive !important;
    font-size: 2.3rem;

}
.nav-id{
   
    font-size: 1.7rem;
    font-weight: bold;
    font-family: 'Orelega One', cursive !important;
}
.text-color{
    color: white !important;
}